

.center { 
    position:relative;
    text-align: center;
    width: 100%;
}

.gazo{
    width: 100%;
}



.btn { 
    position:relative;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}


.dwn{
     position:relative;
    width:30%;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
    top: -290px;
    left:510px;
}